@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">LostKeys</h1>
    <p>
        Help keys get back to their owners.
        <br />
        Developed by <a href="https://tomoddy.com" target="_blank">Tom Oddy</a>
    </p>
</div>
